.text{
    height: 280px;
    background-color: #F6F6F6;
}
.text__block h2{
    padding-top: 50px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.text__block p{
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
}
